body {
    font-family: Arial, sans-serif;
  
}

.todoContainer   {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

#new-task{
    width: 400px;
    font-size: 15px;
    padding: 5px;
    border: none;
    background: none;
    color: white;
    border: 2px solid white;
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#add-task{
    font-size: 12px;
    padding: 8px;
    border: none;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

#add-task:hover{
    background: white;
    color: black;
}

#task-list{
    margin-left: 13%;
    
    margin-top: 20px;
}

#task-list li {
    width: 90%;
    margin-left: 20%;
    justify-content: space-between;
    padding: 8px;
    margin: 5px 0;
    background-color: transparent;
    border: 1px solid #ddd;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-size: 30px;
    border-radius: 10px; 
    transition: all 0.5s ease-in-out;
}

#task-list li.completed {
    text-decoration: line-through;
    color: #888;
}

.edit, .delete{
    margin-left: 5px;
    font-size: 15px;
    width: 200px;
    padding: 10px;
    float: right;
    border: none;
    background: none;
    border-radius: 10px;
}

.completion{
    display: none;
}

.delete{
    border: 2px solid rgb(255, 255, 255);
    color: white;
    transition: all 0.5s ease-in-out;
    font-weight: 700;
}

.delete:hover{
    background: red;
    border: 2px solid red;
    /* border: 2px solid rgb(255, 255, 255); */
}

.edit{
    border: 2px solid rgb(255, 255, 255);
    color: white;
    transition: all 0.5s ease-in-out;
    font-weight: 700;
}

.edit:hover{
    background: darkgreen;
    border: 2px solid darkgreen;
}


.alert {
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-radius: 4px;
    text-align: center;
    transition: all 0.5s ease-in-out;
}
footer ul li a.nav-link{
    color: white;
}

form input.searchXT::placeholder{
    color: white;
}


.hero{
    display: f;
}